# Core functionality - changes here should be rare!
/src/app.py                   @gitbhaveshsharma
/src/backend/database.py      @gitbhaveshsharma
/src/backend/routers/auth.py  @gitbhaveshsharma

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gitbhaveshsharma
